.container-fluid
  .row
    .col-md-12
      %nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container-fluid
          %a.navbar-brand{href: root_url} Words
          #navbarNavAltMarkup.collapse.navbar-collapse
            .navbar-nav
              - if user_signed_in?
                %li.nav-item
                  = link_to('New word', new_word_url, class: 'nav-link')
                - if current_user.games.present?
                  %li.nav-item
                    = link_to('Continue game', game_url(current_user.games.last), class: 'nav-link')
                - else  
                  %li.nav-item
                    = link_to('Start new game', games_url, method: :post , class: 'nav-link')
              - if user_signed_in?
                %li.nav-item
                  = link_to('Edit registration', edit_user_registration_url, class: 'nav-link')
              - else  
                %li.nav-item
                  = link_to("Register", new_user_registration_url, class: 'nav-link') 
              - if user_signed_in?
                %li.nav-item
                  = link_to("Logout", destroy_user_session_url, method: :delete, class: 'nav-link')
              - else  
                %li.nav-item
                  = link_to("Login", new_user_session_url, class: 'nav-link')
