%h1 
  Game
  \##{@game.id}
%p
  Good Answer:
  = @game.good_answers_count
%p
  Bad Answer:
  = @game.bad_answers_count

%p
  = @word.content

= simple_form_for :answer, url: answers_url, method: :post do |f|
  = f.input :content, as: :string
  = f.input :word_id, as: :hidden, input_html: { value: @word.id }
  = f.input :game_id, as: :hidden, input_html: { value: @game.id }
  = f.submit 'Check answer'
